/* Revert reactions */
.reaction_fef95b {
  border-radius: .25rem;
  background: var(--background-modifier-selected);

  border: none;
}

.mentioned-Tre-dv .reaction_fef95b,
.mentioned-Tre-dv .reaction_fef95b:hover {
    background-color:var(--background-modifier-accent);
}

.reaction_fef95b .reactionCount_b49901 {
  color: var(--text-muted); /* A11Y-- */
}

/*Broken march 2023
.reaction_fef95b .reactionInner-YJjOtT {
  padding: 0 .375rem;
}*/

/* Self reactions */
.reaction_fef95b.reactionMe__98f57 .reactionCount_b49901 {
  color: var(--brand-experiment); /* A11Y-- */
}

.mentioned-Tre-dv .reaction_fef95b.reactionMe__98f57,
.mentioned-Tre-dv .reactionMe__98f57.reaction_fef95b:hover,
.reaction_fef95b.reactionMe__98f57 {
  background-color: var(--brand-experiment-30a);
}

/* Reaction hover */
.reaction_fef95b:hover .reactionCount_b49901 {
  color: var(--interactive-active) !important;
}

.reaction_fef95b:hover {
  background-color: var(--background-modifier-selected);
}

.reaction_fef95b.reactionMe__98f57:hover {
  background-color: var(--brand-experiment-40a);
}
