/* Revert reactions */
.reaction__4a43f {
  border-radius: .25rem;
  background: var(--background-modifier-selected);

  border: none;
}

.mentioned_fa6fd2 .reaction__4a43f,
.mentioned_fa6fd2 .reaction__4a43f:hover {
    background-color:var(--background-modifier-accent);
}

.reaction__4a43f .reactionCount__2c34d {
  color: var(--text-muted); /* A11Y-- */
}

/*Broken march 2023
.reaction__4a43f .reactionInner_d6d30f {
  padding: 0 .375rem;
}*/

/* Self reactions */
.reaction__4a43f.reactionMe__0fffc .reactionCount__2c34d {
  color: var(--brand-experiment); /* A11Y-- */
}

.mentioned_fa6fd2 .reaction__4a43f.reactionMe__0fffc,
.mentioned_fa6fd2 .reactionMe__0fffc.reaction__4a43f:hover,
.reaction__4a43f.reactionMe__0fffc {
  background-color: var(--brand-experiment-30a);
}

/* Reaction hover */
.reaction__4a43f:hover .reactionCount__2c34d {
  color: var(--interactive-active) !important;
}

.reaction__4a43f:hover {
  background-color: var(--background-modifier-selected);
}

.reaction__4a43f.reactionMe__0fffc:hover {
  background-color: var(--brand-experiment-40a);
}
