/* Revert reactions */
.reaction_ec6b19 {
  border-radius: .25rem;
  background: var(--background-modifier-selected);

  border: none;
}

.mentioned-Tre-dv .reaction_ec6b19,
.mentioned-Tre-dv .reaction_ec6b19:hover {
    background-color:var(--background-modifier-accent);
}

.reaction_ec6b19 .reactionCount_ec6b19 {
  color: var(--text-muted); /* A11Y-- */
}

/*Broken march 2023
.reaction_ec6b19 .reactionInner-YJjOtT {
  padding: 0 .375rem;
}*/

/* Self reactions */
.reaction_ec6b19.reactionMe_ec6b19 .reactionCount_ec6b19 {
  color: var(--brand-experiment); /* A11Y-- */
}

.mentioned-Tre-dv .reaction_ec6b19.reactionMe_ec6b19,
.mentioned-Tre-dv .reactionMe_ec6b19.reaction_ec6b19:hover,
.reaction_ec6b19.reactionMe_ec6b19 {
  background-color: var(--brand-experiment-30a);
}

/* Reaction hover */
.reaction_ec6b19:hover .reactionCount_ec6b19 {
  color: var(--interactive-active) !important;
}

.reaction_ec6b19:hover {
  background-color: var(--background-modifier-selected);
}

.reaction_ec6b19.reactionMe_ec6b19:hover {
  background-color: var(--brand-experiment-40a);
}
